.fill {
    background-color: #f2e9e9;
    min-height: 100vh
}

.main {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
}

.a-col {
    background-image: url(chris-ried-ieic5Tq8YMk-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    filter: grayscale(74%);
    overflow: hidden;
}

@media (max-width: 800px) {
    .a-col {
        background-image: url(chris-ried-ieic5Tq8YMk-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 50vh;
        filter: grayscale(74%);
        overflow: hidden;
    }
  }

.b-col {
    background-color: white;
    min-height: 100vh
}

@media (max-width: 800px) {
    .b-col {
        background-color: white;
        min-height: 50vh
    }
  }

.head {
    margin: auto;
    width: 50%;
    top: 40%;
    text-align: center;
}

@media (max-width: 800px) {
    .head {
        margin: auto;
        width: 50%;
        top: 10%;
        text-align: center;
    }
  }

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 400%;
}

@media (max-width: 800px) {
    .name {
        padding-top: 50px;
        font-size: 150%;
    }
  }

.desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    font-weight: thin;
}

@media (max-width: 800px) {
    .desc {
        font-size: 100%;
    }
  }

.contacts {
    padding-top: 5%;
    right: 20px;
}

@media (max-width: 1440px) {
    .contacts {
        padding-top: 5%;
        right: 80px;
    }
  }

@media (max-width: 700px) {
    .contacts {
        padding-top: 5%;
        right: 65px;
    }
  }

@media (max-width: 700px) {
    img {
        height: 15px;
        width: 15px;
    }
  }







 
